
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: #dde2e7;
  margin: 0;
  padding: 0;
}

.container {
  width: 95%;
  margin: 20px auto;
  background: #e6e6e6;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}


h3, h4 {
  font-size: 22px;
  font-weight: bold;
  color: #222;
  margin-top: 20px;
  margin-bottom: 10px;
}

.top-bar {
  display: flex;
  justify-content: flex-start;
  padding: 10px 20px;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #ddd;
  flex-wrap: wrap;
}

.menu-toggle {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.welcome-text {
  flex: 1;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  margin: 0;
}

.logout-btn {
  background-color: #0a9df1;
  color: white;
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #343a40;
  color: white;
  padding: 20px;
  transition: left 0.3s ease;
  z-index: 1000;
  overflow-y: auto;
}

.sidebar.open {
  left: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table, th, td {
  border: 1px solid #000;
}

th, td {
  padding: 8px;
  text-align: center;
}

th {
  background: #1d1d1d;
  color: white;
}

.picker-section {
  margin: 10px 0;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.staff-presence-section {
  display: flex;
  gap: 100px;
  margin-top: 30px;

}

.chart-container,
.table-container {
  min-width: 300px;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
}

